body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #efefef;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

/* Old browser warning */
.old-browser-warning {
    display: none;
}

.old-ie div {
    display: none;
}

.old-ie .old-browser-warning {
    display: block;
}

.old-browser-warning h1 {
    text-align: center;
}

.nav .avatar-container {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: red;
    vertical-align: middle;
    margin-left: 5px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
